// Importa as funções e variáveis padrão do Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Defina suas CORES TEMA AQUI
$primary: #4F6D59;     // Seu verde customizado
$secondary: #8E7A5A;   // Seu marrom customizado
$light: #F7F7F7;       // Seu cinza claro

// Sobrescreve o mapa de cores padrão do Bootstrap
$custom-theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);