@import './variables.scss';
@import 'bootstrap/scss/bootstrap';

body {
    background-color: $nav-footer; 
    padding-top: 60px;
}

.btn-nav-custom {
    display: inline-block; 
    padding: 0.5rem 1rem;  
    margin-left: 0.5rem;   
    border-radius: 99999px; 
    text-decoration: none; 
    font-weight: bold;     
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 

    background-color: $secondary; 
    color: rgb(241, 234, 234); 
    border: 1px solid $secondary; 
  
}

.title-banner-custom {
  
    background-color: $secondary; 
    color: white; 
    
    display: inline-block;
    padding: 1rem 1.5rem; 
    margin-bottom: 1.5rem; 
    border-radius: 50rem; 
    font-weight: 700;
    text-align: center;
}

.img-hange-thumb {


    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 450px;
    object-fit: cover; 
    border-radius: 30px;

}

.img-card-padrao{
    height: 350px;
    object-fit: cover;
}


.img-episode-padrao {
    height: 250px; 
    width: 100%; 
    object-fit: contain; 
    
}


.carousel-limitado {
    max-height: $carousel-height; 
    overflow: hidden; 
    border-radius: 0;

    .carousel-inner .carousel-item img {
    
        height: $carousel-height;
        object-fit: contain;
        width: 100%;
    }
}