// Importa as funções e variáveis padrão do Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Cores
$primary: #363636;     
$secondary: #4F4F4F;  
$light: #F7F7F7;      
$nav-footer: #696969;

$custom-theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "nav-footer": $nav-footer,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);